
{% extends 'base.html' %}

{% block content %}
<div class="small-card">
                        <div class="card">
                            <i class="fas fa-code"></i>
                            <p>Code</p>
                        </div>
                        <div class="card">
                            <i class="fas fa-icons"></i>
                            
                            <p>Music</p>
                        </div>
                        <div class="card">
                            <i class="fas fa-film"></i>
                            <p>Movies</p>
                        </div>
                        <div class="card">
                            <i class="fas fa-camera-retro"></i>
                            <p>Photos</p>
                        </div>
                    </div>
{% endblock content %}

{% block active1 %}active{% endblock active1 %}